@import "~@/styles/common/mixins.scss";
@import "~@/styles/common/variables.scss";

@include b(column-select) {
  margin-left: 10px;
  margin-right: 10px;
}

@include b(table-ext-buttons) {
  button + & {
    margin-left: 10px;
  }
}
