@import "~@/styles/common/mixins.scss";
@import "~@/styles/common/variables.scss";

@include b(dynamic-table) {
  @include e(header) {
    @include flex-row(flex-start, center);
    height: 60px;
    font-size: 20px;
  }

  @include e(toolbar) {
    @include flex-row(flex-end, center);
  }

  @include e(pagination) {
    margin-top: 20px;
    @include flex-row(flex-end);
  }
}

@include b(column-select) {
  margin-left: 10px;
  margin-right: 10px;
}

@include b(table-ellipsis-button) {
  button + & {
    margin-left: 10px;
  }
}
