@import "~@/styles/common/mixins.scss";
@import "~@/styles/common/variables.scss";

@include b(search-bar) {
  @include flex-row(flex-start, center);
  position: relative;
  width: $fu-search-bar-width;
  height: $fu-search-bar-height;
  font-size: $fu-search-bar-font-size;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #D5D5D5;
  }

  @include e(content) {
    @include flex-row(flex-start, center);
    margin-right: 10px;
    height: 100%;
    overflow-x: auto;
  }

  @include e(buttons) {
    @include flex-row(flex-end, center);
    flex: auto;
    height: 100%;
  }
}

@include b(search-bar-button) {
  &.el-button {
    @include active-scale(0.9);
  }
}

@include b(search-conditions) {
  @include flex-row(flex-start, center);

  @include e(item) {
    @include flex-row(flex-start, center);
    position: relative;
    box-sizing: border-box;
    height: $fu-search-bar-condition-height;
    padding: 0 10px;
    border-radius: $fu-search-bar-condition-border-radius;
    color: $fu-search-bar-condition-color;
    background-color: $fu-search-bar-condition-bgColor;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
    margin-left: 10px;

    &:last-child {
      margin-right: 10px;
    }

    div + div {
      margin-left: 4px;
    }

    .condition-value {
      font-style: italic;
    }

    .condition-remove {
      @include active-scale(0.9);
      margin-left: 6px;
      margin-right: -6px;
      cursor: pointer;

      &:hover {
        color: $--color-primary;
      }
    }
  }
}

@include b(quick-search) {
  @include flex-row(flex-start, center);
  height: 100%;
  min-width: 230px;
  position: relative;
  overflow-x: auto;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #D5D5D5;
  }

  input {
    border: none;
    position: relative;
    font-size: 14px;
    padding: 10px;
    width: 200px;
    box-sizing: border-box;
    color: $--button-default-font-color;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $--input-placeholder-color;
    }
  }

  .clean-button {
    @include active-scale;
    cursor: pointer;

    &:hover {
      color: $--color-primary;
    }
  }
}

@include b(complex-search) {
  @include e(trigger) {
    i {
      transition: transform 0.2s;
    }

    &.is-active {
      i {
        transform: rotate(90deg);
      }
    }
  }
}

@include b(complex-components) {
  @include e(body) {
    width: 100%;
    margin: 5px;
    min-width: 200px;
  }

  @include e(footer) {
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }
}

@include b(operator-component) {
  @include flex-row(flex-start, center);
  padding: 5px;

  @include e(label) {
    text-align: left;
    width: 120px;
    padding: 0 5px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  @include e(operator) {
    padding: 0 5px;
    width: 120px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  @include e(value) {
    padding: 0 5px;
    flex-grow: 1;
    min-width: 240px;

    .width-100 {
      width: 100%;
    }
  }
}
