@import "../common/mixins.scss";
@import "../common/variables.scss";

@include b(table) {
  &.el-table {
    td {
      padding: 8px 0;
    }

    th.el-table-column--selection > .cell {
      padding-left: 14px;
      padding-right: 14px;
    }

    &.el-table--striped .el-table__body tr.el-table__row--striped td {
      background: $fu-table-striped-bgColor;
    }
  }
}

@include b(table-column-select) {
  margin-left: 10px;
  margin-right: 10px;

  @include e(title) {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  @include e(body) {
    max-height: 600px;
    overflow-y: auto;
  }

  @include e(item) {
    & + & {
      margin-top: 5px;
    }
  }

  @include e(footer) {
    margin-top: 10px;
    text-align: center;
  }

  @include e(trigger) {
    cursor: pointer;
    @include active-scale()
  }
}

@include b(table-column-select-popper) {
  min-width: 100px;
}

@include b(table-operations) {
  @include e(header) {
    @include flex-row(flex-start, center);
  }
}

@include b(table-more-button) {
  button + & {
    margin-left: 10px;
  }
}
